<div class="modal-backdrop" (click)="closeWithAnimation()"></div>
<div class="modal-content" [ngClass]="{ 'show': modalVisible }">
  <h2>Rendelés összegzése</h2>

  <form #orderForm="ngForm" (ngSubmit)="submitOrder(orderForm)" class="order-form">
    <label>
        Teljes név:
        <input type="text" [(ngModel)]="name" name="name" required />
    </label>

    <label>
      Email:
      <input type="email" [(ngModel)]="email" name="email" required readonly/>
    </label>

    <label>
      Telefonszám:
      <input type="text" [(ngModel)]="phone" name="phone" required placeholder="+36..." />
    </label>

    <label>
      Szállítási cím:
      <textarea [(ngModel)]="address" name="address" required placeholder="Dugonics tér 13, 6720 Szeged"></textarea>
    </label>

    <label class="save">
      <input type="checkbox" [(ngModel)]="save" name="save" />
      Adatok mentése a profilba
    </label>

    <div class="total">Végösszeg: {{ total | currency:'HUF' }}</div>

    <div class="actions">
      <button type="submit">Rendelés megerősítése</button>
      <button type="button" (click)="closeWithAnimation()">Mégse</button>
    </div>
  </form>
</div>
