<div class="products-layout">
    <app-filter-panel
      (priceRangeChanged)="onPriceRangeChanged($event)"
      [categoryFilter]="categoryFilter"
      [keywordList]="keywordList"
      (removeKeywordFilter)="removeKeyword($event)"
      [priceRange]="priceRange"
      (removeCategoryFilter)="clearCategoryFilter()"
      (resetPriceFilter)="resetPriceRange()">
    </app-filter-panel>
    
    <div class="products-container">
      <div class="products-grid">
        <div
          class="product-card"
          *ngFor="let product of filteredProducts"
          [routerLink]="['/product', product.slug]"
          style="cursor: pointer;">
          <img [src]="product.imgUrl" alt="{{ product.name }}">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price | currency:'HUF':'symbol':'1.0-0' }}</p>
          <button (click)="$event.stopPropagation(); addToCart(product)">Kosárba</button>
        </div>
      </div>
    </div>
</div>