
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}  /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
:root {
  --background-color: #d1e3d3;
  --primary-color: #4caf50;
  --primary-hover-color: #43a047;
  --card-background: #ffffffcc;
  --text-color: #333333;
  --secondary-text-color: #666666;
  --error-color: #e57373;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
  min-height: 100vh;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
  }
}

.product-card, .category-card {
  background: var(--card-background);
}